section#portfolio {
  background-color: #31333b;
  padding-bottom: 100px;
  padding-left: 10px;
  padding-right: 10px;
}
section#portfolio h2 {
  text-align: center;
}
.portfolio-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 30px;
  a {
    display: block;
    opacity: 0;
    position: relative;
    left: 50px;
    transition: all 0.3s ease-in-out;
  }
  @for $i from 1 through 20 {
    a:nth-child(#{$i + 1}) {
      transition-delay: #{$i * 0.1s};
    }
  }
}

section#portfolio.visible a {
  opacity: 1;
  left: 0;
}

//

.portfolio-item {
  background-color: #3d3e42;
  max-width: 450px;
  margin: 0 auto;
  border-radius: 10px;
  color: #fff;
  position: relative;
  padding-bottom: 60px;
}

.portfolio-item > div {
  padding: 10px;
}

.portfolio-item article {
  max-width: 500px;
  max-height: 300px;
  object-fit: cover;
  overflow: hidden;
}

.portfolio-item > img {
  width: 100%;
  height: 100%;
}

.portfolio-desc {
  padding: 15px 0;
}

.tech {
  display: flex;
  flex-wrap: wrap;
  gap: 1px;
  align-items: center;
}

.tech-item {
  background-color: #31333b;
  padding: 5px;
  text-align: center;
  border-radius: 10px;
}

.portfolio-item-btn-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding-top: 10px;
  position: absolute;
  bottom: 0;
}

.portfolio-item-btn-container a {
  padding: 10px;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 5px;
}

.portfolio-item-btn-container a:hover {
  border: solid 1px #31333b;
  border-radius: 20px;
}

@media only screen and (min-width: 780px) {
  .portfolio-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
